{
  "presets": ["@babel/preset-env"],
  "env": {
    "development": {
      "presets": [
        "@babel/preset-typescript",
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": 3,
            "bugfixes": true
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-class-properties",
        "@babel/plugin-transform-private-methods",
        "@babel/plugin-transform-private-property-in-object"
      ]
    },
    "production": {
      "presets": [
        "@babel/preset-typescript",
        [
          "@babel/preset-env"
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-class-properties",
        "@babel/plugin-transform-private-methods",
        "@babel/plugin-transform-private-property-in-object",
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true,
            "corejs": 3
          }
        ]
      ]
    }
  }
}